/* CUSTOM */

:root {
  color-scheme: light dark;
  --text-color: light-dark(#232527, #c7b4b4);
  --bg-color: light-dark(#9294c0, #23266a);
  --bg-color-2: hsl(from var(--bg-color) h calc(s - 20) l);
}

@property --primary-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #8f69bb;
}

* {
  color: var(--text-color);
}

body {
  font-family: "Geist Mono", serif;
  min-height: 100vh;
  max-width: 100vw;
  background: var(--bg-color);
  overflow-x: hidden;
}

/* COMPONENTS */

#sidebar {
  display: grid;
  align-content: stretch;
  background-color: var(--bg-color-2);
  min-width: 320px;
}

#sidebar, header, footer {
  text-align: center;
}

header {
  font-family: "Edu AU VIC WA NT Arrows", serif;
  font-weight: 900;
}

#scale {
  padding: 1rem;
  font-size: 2.5rem;
  color: hsl(from var(--primary-color) h s calc(6 + l - 6 * var(--mood)));
  filter: drop-shadow(0px 0px 4px white);
}

footer {
  font-size: 50%;
}

#magic-checkbox {
  margin-left: -2rem;
  justify-self: start;
  background-size: contain;
  mix-blend-mode: difference;
  filter: invert(1);
  
  @media (prefers-color-scheme: light) {
    background-image: url("../img/moon.png");
  }
  
  @media (prefers-color-scheme: dark) {
    background-image: url("../img/sun.png");
  }
}

#magic-checkbox input {
  cursor: pointer;
  opacity: 0;
  width: 1rem;
  height: 1rem;
}

#magic-checkbox:has(input:checked) {
  @media (prefers-color-scheme: light) {
    background-image: url("../img/sun.png");
  }
  
  @media (prefers-color-scheme: dark) {
    background-image: url("../img/moon.png");
  }
}

:root:has(#theme-checkbox:checked) {
  @media (prefers-color-scheme: light) {
    color-scheme: dark;
  }
  
  @media (prefers-color-scheme: dark) {
    color-scheme: light;
  }
}

main {
  justify-items: stretch;
  justify-content: stretch;
  background: linear-gradient(
    to left,
    var(--bg-color),
    var(--bg-color-2)
  );
  background-size: 400% 400%;
  animation: animate-gradient 10s ease infinite;
}

@keyframes animate-gradient {
  50% {
    background-position: 100% 50%;
  }
}

/* CIRCLE */

@property --turn {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@property --bg-circle {
  syntax: "<color>";
  inherits: false;
  initial-value: #23276a;
}

#container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
    ". . . A . . ."
    ". . L . B . ."
    ". K . . . C ."
    "J . . . . . D"
    ". I . . . E ."
    ". . H . F . ."
    ". . . G . . .";
    padding: 10%;
    rotate: calc(var(--turn) / 12);
    transition: 0.1s ease-in-out;
    --note-offset: 50%;
}
  
#container > div:nth-child(2) {
    position: relative;
    top: calc(var(--note-offset) * -1);
    left: var(--note-offset);
}
#container > div:nth-child(3) {
    position: relative;
    top: calc(var(--note-offset) * -1);
    left: var(--note-offset);
}
#container > div:nth-child(5) {
    position: relative;
    top: var(--note-offset);
    left: var(--note-offset);
}
#container > div:nth-child(6) {
    position: relative;
    top: var(--note-offset);
    left: var(--note-offset);
}
#container > div:nth-child(8) {
    position: relative;
    top: var(--note-offset);
    left: calc(var(--note-offset) * -1);
}
#container > div:nth-child(9) {
    position: relative;
    top: var(--note-offset);
    left: calc(var(--note-offset) * -1);
}
#container > div:nth-child(11) {
    position: relative;
    top: calc(var(--note-offset) * -1);
    left: calc(var(--note-offset) * -1);
}
#container > div:nth-child(12) {
    position: relative;
    top: calc(var(--note-offset) * -1);
    left: calc(var(--note-offset) * -1);
}

.note {
  background-color: var(--bg-color-2);
  border-radius: 50%;
  color: white;
  height: 100%;
  aspect-ratio: 1/1;
  filter: drop-shadow(0px 0px 4px var(--primary-color));
  font-size: 180%;
  font-weight: 900;
  rotate: calc(var(--turn) * -1 / 12);
  transition: 0.5s ease-out;
}

.note[selected] {
  background-color: hsl(from var(--primary-color) h s calc(6 + l - 6 * var(--mood)));
}

.note[data-note="0"] {
  grid-area: A;
}
.note[data-note="1"] {
  grid-area: B;
}
.note[data-note="2"] {
  grid-area: C;
}
.note[data-note="3"] {
  grid-area: D;
}
.note[data-note="4"] {
  grid-area: E;
}
.note[data-note="5"] {
  grid-area: F;
}
.note[data-note="6"] {
  grid-area: G;
}
.note[data-note="7"] {
  grid-area: H;
}
.note[data-note="8"] {
  grid-area: I;
}
.note[data-note="9"] {
  grid-area: J;
}
.note[data-note="10"] {
  grid-area: K;
}
.note[data-note="11"] {
  grid-area: L;
}

@property --mood {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
