@layer default, layouts, utilities;

@layer default {
	:root {
		--phi: calc((1 + sqrt(5)) / 2);
		--m: 1rem;
		--xs: calc(var(--m) * pow(var(--phi), -2));
		--s: calc(var(--m) * pow(var(--phi), -1));
		--l: calc(var(--m) * pow(var(--phi), 1));
		--xl: calc(var(--m) * pow(var(--phi), 2));
	}
}

@layer layouts {
    .gw {
        width: 61.8%;
    }

    .gc {
        display: grid;
        place-content: center;
        place-items: center;
    }

    .gs {
        display: grid;
    }

    .gs > * {
        grid-area: 1/1;
    }

	.g01 {
		display: grid;
		grid-template-columns: 1fr 1.618fr;
		grid-auto-rows: 1fr;
	}	
	.g10 {
		display: grid;
		grid-template-columns: 1.618fr 1fr;
		grid-auto-rows: 1fr;
	}	
	.g01v {
		display: grid;
		grid-template-rows: 1fr 1.618fr;
		grid-auto-columns: 1fr;
	}	
	.g10v {
		display: grid;
		grid-template-rows: 1.618fr 1fr;
		grid-auto-columns: 1fr;
	}

	.gf01 {
		display: flex;
		align-content: stretch;
		align-items: stretch;
		flex-wrap: wrap;
	}
	.gf01 > :first-child {
		flex: 1;
	}
	.gf01 > :last-child {
		flex: 1.618;
	}
	.gf10 {
		display: flex;
		align-content: stretch;
		align-items: stretch;
		flex-wrap: wrap;
	}
	.gf10 > :first-child {
		flex: 1.618;
	}
	.gf10 > :last-child {
		flex: 1;
	}
}

@layer utilities {
	.p-s {
		padding: var(--s);
	}
	.p-m {
		padding: var(--m);
	}
	.p-l {
		padding: var(--l);
	}
	
	.m-s {
		margin: var(--s);
	}
	.m-m {
		margin: var(--m);
	}
	.m-l {
		margin: var(--l);
	}

	.text-xs {
		font-size: var(--xs);
	}
	.text-s {
		font-size: var(--s);
	}
	.text-m {
		font-size: var(--m);
	}
	.text-l {
		font-size: var(--l);
	}
	.text-xl {
		font-size: var(--xl);
	}
}